body {
    background-image: url('background-option.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}

h1 {
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    color: #ECD3BF;
    font-size: 42px;
}

h2 {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-size: 35px;
    color: #ECD3BF;
}

h3 {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #ECD3BF;
    font-size: 25px;
}

p {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 20px;
}

hr {
    margin: 30px 10px;
}

