/*
Default style, applies to whole page
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-image: url('background-option.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    height: 100%;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: "Uncial Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    color: #ECD3BF;
    font-size: 42px;

}

h2 {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-size: 35px;
    color: #ECD3BF;
    padding: 10px 0;
}

h3 {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #ECD3BF;
    font-size: 25px;
}

p {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 20px;
    cursor: default;
}

hr {
    margin: 30px 10px;
}

ul li {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 20px;
    cursor: default;
}

hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.8), rgba(255,255,255,0));
  margin: 40px 120px;
}


